In [159]:
import pandas as pd
import numpy as np
import re

# Reading data from csv

In [160]:
data_Singapore = pd.read_csv("data/SingaporeTrain.csv")
data_NY = pd.read_csv("data/NYTrain.csv")
data_London = pd.read_csv("data/LondonTrain.csv")
data_Singapore.head()
# data_NY.head()
# data_London.head()

,row ID,educationInfoForAgeGroupEstimation,workInfoForAgeGroupEstimation,gender,realAge,ageGroup,relationship,educationLevel,occupation,income
0,d0cc2d6caf6eb55ccf606770f24df2b5,NaN,NaN,female,NaN,NaN,NaN,NaN,NaN,NaN
1,eb4e2aa0bf687227821b17cfcd5365e3,Bukit Batok Secondary School ITE College West ...,NaN,female,NaN,NaN,NaN,college,NaN,NaN
2,acfb8e93139fe820996b27ee3c6bc9db,"St Patrick&#039;s School, Singapore Class of 2...",NaN,male,NaN,AGE10_20,single,college,NaN,NaN
3,ea251951bd3c7667daf214e8efa92f4e,NaN,NaN,female,NaN,NaN,NaN,NaN,NaN,$$
4,f8f7b497ad8167535345bfc3d59d6aaa,NaN,PT. Duta Marga Lestarindo September 2013 to pr...,female,NaN,NaN,NaN,NaN,archetecture and engineering,NaN

# Combining all the data to a single dataframe

In [161]:
data_Singapore['source'] = 'Singapore'
data_NY['source'] = 'NY'
data_London['source'] = 'London'
data = pd.concat([data_Singapore, data_NY, data_London],ignore_index=True)
data.shape

(10241, 11)

In [162]:
data['source'].unique()

array(['Singapore', 'NY', 'London'], dtype=object)

In [163]:
data['gender'].unique()

array(['female', 'male', nan], dtype=object)

In [164]:
data['realAge'].unique()

array([nan, 27., 19., 20., 22., 21., 34., 31., 23., 18., 36., 24., 26.,
       29., 30., 25., 56., 46., 33., 28., 82., 35., 37., 39.])

In [165]:
data['ageGroup'].unique()

array([nan, 'AGE10_20', 'AGE20_30', 'AGE30_40', 'AGE40_50', 'AGE50_INF'],
      dtype=object)

In [166]:
data['relationship'].unique()

array([nan, 'single', 'in a relationship', 'married'], dtype=object)

In [167]:
data['educationLevel'].unique()

array([nan, 'college', 'school', 'undergraduate', 'graduate'],
      dtype=object)

In [168]:
data['occupation'].unique()

array([nan, 'archetecture and engineering',
       'food preparation and service related',
       'arts, design, entertainment, sports, and media', 'management',
       'office and administrative support', 'personal care and service',
       'protective service', 'healthcare support', 'sales and related',
       'legal', 'transportation and material moving',
       'computer and mathematical', 'production',
       'life, physical, and social science',
       'education, training, and library',
       'healthcare practitioners and technical',
       'building and grounds cleaning and maintenance',
       'farming, fishing and forestry', 'construction and extraction',
       'business and financial operations',
       'community and social service'], dtype=object)

In [169]:
data['income'].unique()

array([nan, '$$', '$', '$$$', '$$$$'], dtype=object)

In [170]:
data['income'] = data['income'].fillna("no").apply(lambda x: -1 if x == "no" else len(str(x)))

In [171]:
data['income'].unique()

array([-1,  2,  1,  3,  4])

# Exctracting features from "workInfoForAgeGroupEstimation"

In [172]:
row_id = 4
row = data['workInfoForAgeGroupEstimation'][row_id]
# row = 'PT. Duta Marga Lestarindo September 19 present Land Transport Authority Project Engineer � August 2011 to July 2013 T.Y. Lin International Civil Engineer � January 2010 to June 2010'
row

'PT. Duta Marga Lestarindo September 2013 to present Land Transport Authority Project Engineer � August 2011 to July 2013 T.Y. Lin International Civil Engineer � January 2010 to June 2010'

In [173]:
def process_work_info(row):
    years_raw = re.compile(r'\b(?:19|20)\d{2}|\bpresent').findall(row)
    years =  [int(year) if year != 'present' else 2018 for year in years_raw]
    
    start_year, number_of_places, total_length, mean_length, min_length, max_length, working_now = None, None, None, None, None, None, None
    if row != None and len(years)<2:
        number_of_places = 1
    else:
        pairs = [years[i:i+2] for i in range(0, len(years)-1, 2)]
        lengths = [pair[1]-pair[0] for pair in pairs]
        number_of_places = len(pairs)
        max_length = max(lengths)
        min_length = min(lengths)
        total_length = sum(lengths)
        mean_length = total_length / float(len(lengths))
        start_year = min(years)
        working_now = None
        if len(years_raw)>0:
            working_now = float('present' in years_raw) 
            
    return start_year, number_of_places, total_length, mean_length, min_length, max_length, working_now

In [174]:
process_work_info(row)

(2010, 3, 7, 2.3333333333333335, 0, 5, True)

In [175]:
data['workInfoForAgeGroupEstimation'] = data['workInfoForAgeGroupEstimation'].map(str).apply(process_work_info)
data = data.join(pd.DataFrame(data['workInfoForAgeGroupEstimation'].tolist(), index=data.index, columns=['w_start_year', 'w_number_of_places', 'w_total_length', 'w_mean_length', 'w_min_length', 'w_max_length', 'w_working_now']))
data.drop(columns=['workInfoForAgeGroupEstimation'], inplace=True)

# Exctracting features from "educationInfoForAgeGroupEstimation"

In [176]:
# possible_levels = ['college', 'school', 'undergraduate', 'graduate']

# possible_values_for_levels = {}
# "Secondary School", "Ngee", "Institute", "University", "High School"
# # CHIJ Secondary (Toa Payoh) - автономная католическая школа для девочек в Сингапуре. 
# Class of 2010

In [177]:
row_id = 45
row = data['educationInfoForAgeGroupEstimation'][row_id]
# row = "Republic Polytechnic 2012 to 2015 � Singapore CHIJ Kellock Singapore CHIJ St. Theresa&#039;s Convent Class of 2011 � Singapore Republic Polytechnic Integrated Event Management � Singapore"
row

'SMK Seri Tanjong Class of 2009 � Melaka sek. men. seri tanjung,melaka (PMR) Class of 2005 � Malacca City, Malaysia sek. men. seri tanjung,melaka (SPM) Class of 2007 Maktab Koperasi Malaysia Class of 2012 � Kuching, Malaysia Uni of Oxford Oxford, Oxfordshire skm seri tanjung Class of 2009 � Malacca City, Malaysia'

In [178]:
def process_education_info(row):
    class_of_years = [int(i) for i in re.compile(r'(?<=of )\d{4}').findall(row)]
    range_years_starts = [int(i) for i in re.compile(r'\b(?:19|20)\d{2}(?= to )').findall(row)]
    range_years_ends = [int(i) if i != 'present' else 2018 for i in re.compile(r'(?<= to )(?:19|20)\d{2}|\bpresent').findall(row)]

    first_start_year = None
    last_start_year = None
    if len(class_of_years)>0 or len(range_years_starts)>0:
        first_start_year = min(class_of_years+range_years_starts)
        last_start_year = max(class_of_years+range_years_starts) 

    
    finish_year = None
    if len(range_years_ends)>0:
        finish_year = max(range_years_ends)
    # else
    #     if len(class_of_years)>0 | len(range_years_starts)>0:
    #     finish_year = max(class_of_years) + 4 #usually one program = 4year

    # study_now = None

    number_of_programs = None
    num = len(class_of_years)+len(range_years_starts)
    if num<1 and len(row)>0:
        number_of_programs = 1
    else:
        number_of_programs = num

    return first_start_year, last_start_year, finish_year, number_of_programs

In [179]:
process_education_info(row)

(2005, 2012, None, 5)

In [180]:
data['educationInfoForAgeGroupEstimation'] = data['educationInfoForAgeGroupEstimation'].map(str).apply(process_education_info)
data = data.join(pd.DataFrame(data['educationInfoForAgeGroupEstimation'].tolist(), index=data.index, columns=['e_first_start_year', 'e_last_start_year', 'e_finish_year', 'e_number_of_programs']))
data.drop(columns=['educationInfoForAgeGroupEstimation'], inplace=True)

# Some preprocessing

In [181]:
columns_to_hot = ['gender', 'relationship', 'educationLevel', 'occupation', 'source']
data = pd.get_dummies(data, columns=columns_to_hot)
data_with_labels = data[data['ageGroup'].notnull()].drop(columns=['row ID']).fillna(-1.0)

from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
data_with_labels['ageGroup'] = LE.fit_transform(data_with_labels['ageGroup'])

In [182]:
data_with_labels.head()

,realAge,ageGroup,income,w_start_year,w_number_of_places,w_total_length,w_mean_length,w_min_length,w_max_length,w_working_now,...,occupation_management,occupation_office and administrative support,occupation_personal care and service,occupation_production,occupation_protective service,occupation_sales and related,occupation_transportation and material moving,source_London,source_NY,source_Singapore
2,-1.0,0,-1,-1.0,1,-1.0,-1.0,-1.0,-1.0,-1,...,0,0,0,0,0,0,0,0,0,1
5,27.0,1,-1,-1.0,1,-1.0,-1.0,-1.0,-1.0,-1,...,0,0,0,0,0,0,0,0,0,1
11,-1.0,0,-1,-1.0,1,-1.0,-1.0,-1.0,-1.0,-1,...,0,0,0,0,0,0,0,0,0,1
16,19.0,1,-1,-1.0,1,-1.0,-1.0,-1.0,-1.0,-1,...,0,0,0,0,0,0,0,0,0,1
17,-1.0,1,-1,-1.0,1,-1.0,-1.0,-1.0,-1.0,-1,...,0,0,0,0,0,0,0,0,0,1

# MODELS
Train-test split

In [183]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_with_labels.drop(columns=['ageGroup']), data_with_labels.ageGroup, test_size=0.3, random_state=42)

## RandomForestClassifier

In [184]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import f1_score, accuracy_score

rf_cls = RandomForestClassifier(n_estimators=100)
xgb_cls = XGBClassifier()

## Learning and scores

In [185]:
%%time
rf_cls.fit(X_train, y_train)
y_pred_on_train = rf_cls.predict(X_train)
y_pred_on_test = rf_cls.predict(X_test)

print("F1 score on train:", f1_score(y_train, y_pred_on_train, average='weighted'))
print("F1 score on test:", f1_score(y_test, y_pred_on_test, average='weighted'))
print("Accuracy on train:", accuracy_score(y_train, y_pred_on_train))
print("Accuracy on test:", accuracy_score(y_test, y_pred_on_test))

F1 score on train: 0.9838492597577388
F1 score on test: 0.7700038405066696
Accuracy on train: 0.9838492597577388
Accuracy on test: 0.780564263322884
CPU times: user 223 ms, sys: 0 ns, total: 223 ms
Wall time: 222 ms

/home/saitkulov/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [186]:
%%time
xgb_cls.fit(X_train, y_train)
y_pred_on_train = xgb_cls.predict(X_train)
y_pred_on_test = xgb_cls.predict(X_test)

print("F1 score on train:", f1_score(y_train, y_pred_on_train, average='weighted'))
print("F1 score on test:", f1_score(y_test, y_pred_on_test, average='weighted'))
print("Accuracy on train:", accuracy_score(y_train, y_pred_on_train))
print("Accuracy on test:", accuracy_score(y_test, y_pred_on_test))

ValueError: DataFrame.dtypes for data must be int, float or bool.
                Did not expect the data types in fields w_working_now

## Confusion Matrix

In [187]:
np.unique(y_test, return_counts=True)

(array([0, 1, 2, 3, 4]), array([117, 173,  21,   6,   2]))

In [188]:
y_pred_rf = rf_cls.predict(X_test)
reversefactor = dict(zip(range(5), LE.classes_))
y_test = np.vectorize(reversefactor.get)(y_test)
y_pred_rf = np.vectorize(reversefactor.get)(y_pred_rf)
# Making the Confusion Matrix
print(pd.crosstab(y_test, y_pred_rf, rownames=['Actual'], colnames=['Predicted']))

Predicted  AGE10_20  AGE20_30  AGE30_40
Actual
AGE10_20         86        31         0
AGE20_30         25       146         2
AGE30_40          0         4        17
AGE40_50          0         1         5
AGE50_INF         0         2         0

In [189]:
y_pred = xgb_cls.predict(X_test)
reversefactor = dict(zip(range(5), LE.classes_))
# y_test = np.vectorize(reversefactor.get)(y_test)
y_pred = np.vectorize(reversefactor.get)(y_pred)
# Making the Confusion Matrix
print(pd.crosstab(y_test, y_pred, rownames=['Actual'], colnames=['Predicted']))

ValueError: DataFrame.dtypes for data must be int, float or bool.
                Did not expect the data types in fields w_working_now

## Features importances

In [157]:
sorted_importance = sorted(list(zip(X_train.columns, rf_cls.feature_importances_)), key=lambda tup: tup[1], reverse=True)
sorted_importance[:20]

[('e_last_start_year', 0.17958494302930744),
 ('e_first_start_year', 0.16126612588014083),
 ('realAge', 0.10143081973628658),
 ('educationLevel_school', 0.05564504971959782),
 ('e_number_of_programs', 0.05275479060387741),
 ('educationLevel_undergraduate', 0.04288504256657848),
 ('educationLevel_college', 0.03517498150200042),
 ('w_total_length', 0.034941496975630294),
 ('w_mean_length', 0.031012004015159324),
 ('e_finish_year', 0.029827898508955415),
 ('w_start_year', 0.029677611886025093),
 ('w_max_length', 0.028674853035191863),
 ('w_min_length', 0.027338213631303624),
 ('relationship_single', 0.022209040952963548),
 ('w_number_of_places', 0.018910957961733393),
 ('gender_male', 0.018626470366245772),
 ('gender_female', 0.016914701912439233),
 ('income', 0.014059360761262072),
 ('relationship_married', 0.012373753787609435),
 ('w_working_now', 0.012311282232543097)]

In [158]:
sorted_importance = sorted(list(zip(X_train.columns, xgb_cls.feature_importances_)), key=lambda tup: tup[1], reverse=True)
sorted_importance[:20]

[('e_last_start_year', 0.24749772),
 ('e_first_start_year', 0.15787078),
 ('realAge', 0.14240219),
 ('educationLevel_undergraduate', 0.055505004),
 ('w_total_length', 0.049590535),
 ('w_mean_length', 0.045950864),
 ('educationLevel_school', 0.040491357),
 ('w_start_year', 0.035486806),
 ('e_number_of_programs', 0.03275705),
 ('e_finish_year', 0.027297543),
 ('educationLevel_college', 0.022292994),
 ('w_max_length', 0.016833484),
 ('gender_female', 0.015468608),
 ('w_number_of_places', 0.015013649),
 ('w_min_length', 0.012283894),
 ('occupation_legal', 0.010009099),
 ('occupation_education, training, and library', 0.00955414),
 ('income', 0.009099181),
 ('occupation_arts, design, entertainment, sports, and media', 0.009099181),
 ('occupation_management', 0.008644222)]

# Preprocess test csv data

In [117]:
def process_test_csv(path):
    test_data_Singapore = pd.read_csv(path+"SingaporeTest.csv")
    test_data_NY = pd.read_csv(path+"NYTest.csv")
    test_data_London = pd.read_csv(path+"LondonTest.csv")

    test_data_Singapore['source'] = 'Singapore'
    test_data_NY['source'] = 'NY'
    test_data_London['source'] = 'London'
    test_data = pd.concat([test_data_Singapore, test_data_NY, test_data_London],ignore_index=True)

    test_data['income'] = test_data['income'].fillna("no").apply(lambda x: -1 if x == "no" else len(str(x)))

    test_data['workInfoForAgeGroupEstimation'] = test_data['workInfoForAgeGroupEstimation'].map(str).apply(process_work_info)
    test_data = test_data.join(pd.DataFrame(test_data['workInfoForAgeGroupEstimation'].tolist(), index=test_data.index, columns=['w_start_year', 'w_number_of_places', 'w_total_length', 'w_mean_length', 'w_min_length', 'w_max_length', 'w_working_now']))
    test_data.drop(columns=['workInfoForAgeGroupEstimation'], inplace=True)

    test_data['educationInfoForAgeGroupEstimation'] = test_data['educationInfoForAgeGroupEstimation'].map(str).apply(process_education_info)
    test_data = test_data.join(pd.DataFrame(test_data['educationInfoForAgeGroupEstimation'].tolist(), index=test_data.index, columns=['e_first_start_year', 'e_last_start_year', 'e_finish_year', 'e_number_of_programs']))
    test_data.drop(columns=['educationInfoForAgeGroupEstimation'], inplace=True)

    columns_to_hot = ['gender', 'relationship', 'educationLevel', 'occupation', 'source']
    test_data = pd.get_dummies(test_data, columns=columns_to_hot)
    test_data_with_labels = test_data[test_data['ageGroup'].notnull()].drop(columns=['row ID']).fillna(-1.0)
    for i in set(data_with_labels.columns)-set(test_data_with_labels.columns):
        test_data_with_labels.insert(len(test_data_with_labels.columns), i, 0)


    test_data_with_labels['ageGroup'] = LE.transform(test_data_with_labels['ageGroup'])
    return test_data_with_labels

# Reading and processing new csv

In [119]:
path = "../../dataFromWebsite/testSets_groundTruth/"
test_data_with_labels = process_test_csv(path)
X, y = test_data_with_labels.drop(columns=['ageGroup']), test_data_with_labels.ageGroup

FileNotFoundError: File b'./data/SingaporeTest.csv' does not exist

In [127]:
X['w_working_now'] = X['w_working_now'].astype('uint8')

## Predicting and scores

In [118]:
%%time
y_pred_on_test_file = rf_cls.predict(X)

print("F1 score on test.csv:", f1_score(y, y_pred_on_test_file, average='weighted'))
print("Accuracy on test.csv:", accuracy_score(y, y_pred_on_test_file))

NameError: name 'X' is not defined

In [128]:
%%time
y_pred_on_test_file = xgb_cls.predict(X)

print("F1 score on test.csv:", f1_score(y, y_pred_on_test_file, average='weighted'))
print("Accuracy on test.csv:", accuracy_score(y, y_pred_on_test_file))

ValueError: feature_names mismatch: ['realAge', 'income', 'w_start_year', 'w_number_of_places', 'w_total_length', 'w_mean_length', 'w_min_length', 'w_max_length', 'w_working_now', 'e_first_start_year', 'e_last_start_year', 'e_finish_year', 'e_number_of_programs', 'gender_female', 'gender_male', 'relationship_in a relationship', 'relationship_married', 'relationship_single', 'educationLevel_college', 'educationLevel_graduate', 'educationLevel_school', 'educationLevel_undergraduate', 'occupation_archetecture and engineering', 'occupation_arts, design, entertainment, sports, and media', 'occupation_building and grounds cleaning and maintenance', 'occupation_business and financial operations', 'occupation_community and social service', 'occupation_computer and mathematical', 'occupation_construction and extraction', 'occupation_education, training, and library', 'occupation_farming, fishing and forestry', 'occupation_food preparation and service related', 'occupation_healthcare practitioners and technical', 'occupation_healthcare support', 'occupation_legal', 'occupation_life, physical, and social science', 'occupation_management', 'occupation_office and administrative support', 'occupation_personal care and service', 'occupation_production', 'occupation_protective service', 'occupation_sales and related', 'occupation_transportation and material moving', 'source_London', 'source_NY', 'source_Singapore'] ['realAge', 'income', 'w_start_year', 'w_number_of_places', 'w_total_length', 'w_mean_length', 'w_min_length', 'w_max_length', 'w_working_now', 'e_first_start_year', 'e_last_start_year', 'e_finish_year', 'e_number_of_programs', 'gender_female', 'gender_male', 'relationship_in a relationship', 'relationship_married', 'relationship_single', 'educationLevel_college', 'educationLevel_graduate', 'educationLevel_school', 'educationLevel_undergraduate', 'occupation_archetecture and engineering', 'occupation_arts, design, entertainment, sports, and media', 'occupation_business and financial operations', 'occupation_community and social service', 'occupation_computer and mathematical', 'occupation_construction and extraction', 'occupation_education, training, and library', 'occupation_farming, fishing and forestry', 'occupation_food preparation and service related', 'occupation_healthcare practitioners and technical', 'occupation_healthcare support', 'occupation_legal', 'occupation_life, physical, and social science', 'occupation_management', 'occupation_office and administrative support', 'occupation_personal care and service', 'occupation_production', 'occupation_protective service', 'occupation_sales and related', 'occupation_transportation and material moving', 'source_London', 'source_NY', 'source_Singapore', 'occupation_building and grounds cleaning and maintenance']

## Confusion Matrix

In [35]:
reversefactor = dict(zip(range(5),LE.classes_))
y_test = np.vectorize(reversefactor.get)(y)
y_pred_on_test_file = np.vectorize(reversefactor.get)(y_pred_on_test_file)
# Making the Confusion Matrix
print(pd.crosstab(y_test, y_pred_on_test_file, rownames=['Actual'], colnames=['Predicted']))

Predicted  AGE10_20  AGE20_30  AGE30_40  AGE50_INF
Actual
AGE10_20         17        18         0          0
AGE20_30          4       309         1          0
AGE30_40          0        18        70          0
AGE40_50          0         4        24          5
AGE50_INF         0         2        12          4